html {
    height: 100%;
    
}

body {
    padding-top: 50px;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-family: 'Raleway', sans-serif;
}
.menu a {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-size: 14px;
    font-weight: 300;
    margin: 0 10px;
}

.menu a:hover {
    text-decoration: none;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-inverse2 {
    background-color: #ffffff;
    border-color: #ffffff;
}

.nav {
    
    text-align: right;
    height: 50px;
    margin-top: 10px; 
    
}

.menu {
    margin: 0 20px 0 0; 
    float: right;
}


.nav > label {
    margin: 0 20px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 30px;
    float: right; 
}

#toggle {
    display: none; 
}

.nav-img {
    text-align: left;
    float: left; 
    margin-bottom: 10px;
    margin-left: 10px;
}

.nav-img img {
    
    height: 30px;
    width: 30px;
    
}

@media only screen and (max-width: 500px) {
    .nav {
        margin-top: 3px; 
    }
    
    .nav > label {
        display: block;
        cursor: pointer; 
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none; 
    }

    .menu a {
        display: block; 
        border-bottom: 1px solid #aaaaaa;
        margin: 0;
        text-align: right;
    }

    #toggle:checked + .menu {
        display: block;
        background-color: #ffffff;
        padding: 10px; 
        /*margin-top: 10px;*/
    }

    .nav-img {
        display: none;
    }
}



div.images-container {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

.footer {
    bottom: 0;
    width: 100%;
    background-color: #aaaaaa;
    opacity: 0.5; 
    height: 60px;
    position: fixed;
    z-index: 3;
}

#header, #about,#posts, #contact {
    
    max-width: 100%;
    margin-top: 20px;
    clear: both;
}

/*#header {
    background-image: url("~/Images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}*/

.header-img > img {
    width: 100%;
    float: left;
    
    position: relative;
    
}

.header-quote {
    max-width: 100% !important;
}

    .header-left > img {
        max-width: 100%;
    }

.header-right {

    width: 50%;
    float: left;
    position: relative;
    
    /*clear: both;*/
}

.header-right-up {
    height: 50%;
    float: left;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.header-right-up > img {
    width: 100%
}

.header-right-down {
    height: 50%;
    float: left;
    position: relative;
}

    .header-right-down > img {
        width: 100%;
    }


/*.header-right > img {
    max-width: 100%;
}*/

@media only screen and (max-width: 500px) {
    .header-left {
        width: 100%;
        
        background-color: mediumpurple;
    }

    .header-right {
        width: 100%;
        
        background-color: aqua;
    }
}

    section {
        margin-bottom: 50px;
        border-bottom-style: dotted;
        border-bottom-width: 3px;
        border-bottom-color: #bcbcbc;
    }




    .label-contact {
        font-size: 24px;
    }


.btn-custom {
    
    border-radius: 0px;
    z-index: 2;
    position: absolute;
    color: #333;
    background-color: #fff;
    opacity: 0.8;
    border-color: transparent;
}


.post-show {
    display: block;
    padding: 4px;

}

.image-show  {
    max-width: 100%;
    height: auto;
}

.post-show, .posts-title {
    text-align: center;
}