@model PostViewModel




<div class="row">
   
        <div>
            

                <img src="@Model.ImageUrl" alt="" />
                
                    <div>
                        <h3>@Html.DisplayFor(model => model.Title)</h3>
                        <h4>@Html.ValueFor(model => model.Date, "{0:dd/MM/yyyy}")</h4>
                        <p>@Html.DisplayFor(model => model.Content) </p>

                    </div>
                
            
        </div>
    
</div>
