<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/content/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Anton|Open+Sans|Raleway" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-inverse2 navbar-fixed-top">

        <div class="container">
            <div class="nav">
                <div class="nav-img">
                    <a asp-area="" asp-controller="Blog" asp-action="Index">
                        <img src="~/Images/002-travel-1.svg" />
                    </a>
                </div>

                
                <label for="toggle">&#9776;</label>
                <input type="checkbox" id="toggle" />
                <div class="menu">

                    <a asp-area="" asp-controller="Blog" asp-action="Index">Home</a>
                    <a asp-area="" asp-controller="Blog" asp-action="About">About</a>
                    <a asp-area="" asp-controller="Blog" asp-action="Posts">Posts</a>
                    <a asp-area="" asp-controller="Contact" asp-action="Contact">Contact</a>

                </div>
            </div>

        </div>
    </nav>


            <div class="container body-content">
                @RenderBody()
            </div>

            <footer class="footer">
                blablabla
            </footer>
</body>

</html>
