
@{
    ViewData["Title"] = "Contact";
}

<h2>Contact</h2>

<form method="post">
    <label class="label-contact">Name</label>
    <br />
    <input />
    <br />
    <label class="label-contact">Email</label>
    <br />
    <input type=" " email" />
    <br />
    <label class="label-contact">Message</label>
    <br />
    <textarea rows="6"></textarea>
    <br />
    <input type="submit" value="Send Message"/>
</form>

