


<section id="header">
    <h2>header</h2>

    <div class="header-left">
       
    </div>

    <div class="header-right">

    </div>


</section>

<section id="about">
    <h2>about</h2>
</section>

<section id="latest-posts">
    <h2>posts</h2>
</section>

<section id="contact">
    <h2>contact</h2>
</section>