


<section id="header" justify-content: center !important;>
    <div style="position: relative">
        <div class="header-img">
            <img src="~/Images/header.jpg" />
        </div>

        <div class="header-quote">
            <p class="quote">
                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
            </p>
        </div>
    </div>




</section>

<section id="about">
    <h2>about</h2>
</section>

<section id="latest-posts">
    <h2>posts</h2>
</section>

<section id="contact">
    <h2>contact</h2>
</section>