


<section id="header" justify-content: center !important;>
    <div style="position: relative">
        <div class="header-img">
            <img src="~/Images/header.jpg" />
        </div>

        <div class="header-quote" style="position: absolute; z-index: 2; text-align: center; vertical-align:bottom;  font-family: 'Shadows Into Light Two', cursive; font-size: 20px;font-weight: 400; color: #bf5679">
            <p class="quote">
                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
            </p>
        </div>
    </div>

    @*<div class="header-left">
        <img src="~/Images/header-1.jpg" />
    </div>

    <div class="header-right">
        
        <div class="header-right-up">
            <div>
                <p style="position: absolute; z-index: 2; text-align: center; margin-top: 20px; font-family: 'Shadows Into Light Two', cursive;">
                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                </p>
            </div>

            <img src="~/Images/header-2-backgrnd.jpg" />
        </div>
        <div class="header-right-down">

            <img src="~/Images/header-2-backgrnd-down.jpg"/>
        </div>
    </div>*@


</section>

<section id="about">
    <h2>about</h2>
</section>

<section id="latest-posts">
    <h2>posts</h2>
</section>

<section id="contact">
    <h2>contact</h2>
</section>